html {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: 1.7em;
}

a {
    color: #00aff0;
}

ul,
li {
    list-style: none;
}

input,
textarea,
button {
    border-radius: $radius;
}
