html {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: 1.7em;
}

a {
    color: #00aff0;
}

ul,
li {
    list-style: none;
}

input,
textarea,
button {
    border-radius: $radius;
}

body {
    background-image: url(https://dennistalmid.github.io/BootstrapSassProject/img/wild_oliva_@2X.png);
    background-attachment: fixed;
    background-repeat: repeat;
    article {
        background-image: url(../../img/lil_fiber_@2X.png);
        background-attachment: fixed;
        background-repeat: repeat;
    }
}
