/* Border-Radius */

$radius: 0;

/* font-family and font-size */

$base-font-family: "Segoe UI",
"Segoe WP",
"Segoe Regular",
sans-serif;
$base-font-size: 20px;

/* Showcase Area */

$showcase-height: 400px;

/* Colors */

$primary: orange;
