.hotArticle {
    span {
        color: $primary;
        font-size: 1.2em;
        padding-left: 5px;
    }
}

.hotArticle:hover {
    text-decoration: none;
    background-color: yellow;
    @include border-radius(80px);
}

 .list-group-item.active,
    .list-group-item.active:hover,
    .list-group-item.active:focus {
        background-color: $primary;
        border-color: $primary;
    }
    a.list-group-item:hover,
    button.list-group-item:hover,
    a.list-group-item:focus,
    button.list-group-item:focus {
        background-color: $primary;
    }
