/* different sections of the main-content */

.section-showcase {
    height: $showcase-height;
    text-align: center;
    background-color: whitesmoke;
    margin-bottom: 0;
    background-image: url(https://dennistalmid.github.io/BootstrapSassProject/img/showcase.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    h2 {
        margin-top: 40%;
        margin-bottom: 20px;
        font-size: 6em;
        text-shadow: 2px 2px #000000;
        color: $primary;
    }
    .showtext {
        color: white;
        font-size: 2em !important;
        text-shadow: 1px 1px black;
    }
}
.section-introduction {
    .container {
        width: 100%;
    }
    .landingArticle {
        padding: 5% 28% 6% 28%;
        background-color: $primary;
        background: linear-gradient(white 0%, $primary 125%);
        background-attachment: fixed;
        margin-bottom: 20px;
        margin-top: 0;
        opacity: 0.7;
        h3 {
            width: 80%;
            margin: auto;
            text-align: center;
            padding-bottom: 30px;
        }
    }
    .articles {
        article {
            h3 {
                .hotArticle {
                    span {
                        color: $primary;
                        font-size: 1.2em;
                        padding-left: 5px;
                    }
                }
                .hotArticle:hover {
                    text-decoration: none;
                    background-color: yellow;
                    @include border-radius(80px);
                }
            }
            padding: 5% 15% 5% 15%;
            margin-bottom: 20px;
            background-color: whitesmoke;
            min-height: 200px;
            span.author {
                display: block;
                margin-top: 20px;
                margin-bottom: 10px;
            }
        }
    }
}

/* Media Queries for mobile devices */

@media screen and (max-width: 800px) {
    .section-showcase {
        background-position: top;
        h2 {
            margin-top: 250px;
            font-size: 2.5em;
        }
        .showtext {
            font-size: 1.4em !important;
            color: black;
            text-shadow: 1px 1px white;
            margin-top: 30px;
        }
    }
    .landingArticle {
        padding: 5% !important;

    }
    .articles {
        article {
            padding: 5% !important;
            ;
        }
    }
}
