p {
    font-size: 0.8rem;
    line-height: 1.3;
}

h1 {
    font-size: 1.7rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.3rem;
}

h4 {
    font-size: 1.1rem;
}

h5 {
    font-size: 0.9rem;
}

small {
    font-size: 0.8rem
}
